#wrapper {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

#display-field {
  font-size: 26px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

button {
  font-size: 30px;
  padding: 5px 20px;
}

ul {
  float: left;
  list-style-type: none;
  margin: 0 auto 10px auto;
  padding: 0;
}

li {
  background-color: #eee;
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin: 2px;
  padding: 5px 10px;
  width: 150px;
}

li:hover {
  background-color: #e3ff4a;
}
